{% extends 'base.html'%}

{% block body %}
<!-- bat buoc phai la tongtien=0 -->
<div class="container">
    <div class="container block-info mt-3">
        <div id="listItemSuperCart">
            {%for cart_item in cart%}
            <div class="block__product-item__outer">
            <div class="block__product-item">
                <div class="checkbox-product">
                <img src="http://127.0.0.1:8000/images/{{cart_item.hinhanh}}" 
                alt="" class="product-img">
                </div>
                <div class="product-info">
                <div class="d-flex justify-content-between align-items-start">
                    <a href="" class="product-name">{{ cart_item.tensp }}</a>
                    <form method="post" action="{% url 'modify_cart' %}">
                        {% csrf_token %}
                        <button type="submit" name="order" class="removeItem" value="{{cart_item.masp}}-delete">Xóa</button>
                    </form>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="block-box-price">{{ cart_item.gia }}</div>
                    <div class="action d-flex testing-class">
                        <form method="post" action="{% url 'modify_cart' %}">
                            {% csrf_token %}
                            <button type="submit" class="minus d-flex justify-content-center align-items-center" value="{{cart_item.masp}}-minus" name="order">-</button>
                        </form>
                        <input type="text" readonly value="{{ cart_item.quantity }}">
                        <form method="post" action="{% url 'modify_cart' %}">
                            {% csrf_token %}
                            <button type="submit" class="plus d-flex justify-content-center align-items-center" value="{{cart_item.masp}}-plus" name="order">+</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div id="stickyBottomBar">
        <div class="temp-info d-flex flex-column">
        <div class="price-temp">
            <p>
            Tạm tính: {{tongtien}}
            <span>
            </span>
            </p>
        </div>
        </div>
        <button class="btn-action purchase">
        Mua Ngay
        </button>
    </div>
</div>
{% endblock %}